body { 
    color: #444444;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #f6f6f6;
    text-rendering: optimizeLegibility;
}

.container {
    width: 940px;
    margin:auto;
}

.jumbotron { 
    background-color: #DDD;
    height: 350px;
    background-image: url(../thiago-california.jpg);
    background-position: -204px -350px;
}

.header {
    text-align:center;
}

.header h1 { 
    margin-top: 60px;
}

.avatar-wrapper {
    width: 95px;
    margin: auto;
    position:relative;
}

.cover-avatar{ 
    width: 95px;
    height: 95px;
    position:absolute;
    border-radius:100%;
    border: 3px solid #FFF;
    top: -110px;
    box-shadow:0 1px 1px rgba(0,0,0,0.3);
}

.cover-avatar img{
    width: 100%;
    border-radius:100%;
    height:auto;
}

.card, .info, .icon {
     border: 1px solid #C0C0C0 ;
}

.card {
    width: 600px;
    margin: 50px auto 10px;
    background-color: white;
    box-shadow: inset 0 1px 2px #e4e4e4;
    position: relative;
    border-radius: 8px;
}

.card .icon {
    border-width: 3px;
    box-shadow: inset 0 1px 2px #e4e4e4;    
    position: absolute;
    top: -30px;
    left: 50%;
    font-size: 40px;
    margin-left: -41px;
    background-color: #FAFAFA;
width: 60px;
height: 60px;
padding: 0.25em;
text-align: center;
        border-radius: 100%;
}

.card .board {
    padding-top: 60px;
    background-color: #DDD;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card p {
    padding: 10px 20px 20px;
}

.info { 
    width: 580px;
    margin: 10px auto 10px;
    padding: 0px 10px;
    font-size: 12px;
    color: #939393;
    background-color: #E3E3E3;
}
    .info > a { 
        color: #939393;
     }

        .info > a:hover, .info > a:active, .info > a:visited  { 
            color: #333;
        }